* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head,
h1 {
  text-transform: uppercase;
  text-align: center;
}

.head,
h2 {
  text-transform: capitalize;
  font-size: 1em;
  background-color: cadetblue;
  text-decoration: crimson;
}
.head {
  background-color: burlywood;
  padding: 10px;
  display: block;
}

.lists {
}
.lists,
ol {
  margin: 10px;
  display: flex;
  background-color: darkgray;
}
.lists,
li {
  font-size: 1.2em;
  margin-left: 5px;
  padding: 30px;
  background-color: darkgoldenrod;
}
